<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Campus_Placement_Portal</display-name>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostJobServlet</display-name>
    <servlet-name>PostJobServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.PostJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostJobServlet</servlet-name>
    <url-pattern>/PostJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobServlet</display-name>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/JobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyApplicationsServlet</display-name>
    <servlet-name>MyApplicationsServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.MyApplicationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyApplicationsServlet</servlet-name>
    <url-pattern>/MyApplicationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewApplicantsServlet</display-name>
    <servlet-name>ViewApplicantsServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.ViewApplicantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApplicantsServlet</servlet-name>
    <url-pattern>/ViewApplicantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentsServlet</display-name>
    <servlet-name>ViewStudentsServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.ViewStudensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentsServlet</servlet-name>
    <url-pattern>/ViewStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCompaniesServlet</display-name>
    <servlet-name>ViewCompaniesServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.ViewCompaniesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCompaniesServlet</servlet-name>
    <url-pattern>/ViewCompaniesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCompanyServlet</display-name>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.DeleteCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCompanyServlet</servlet-name>
    <url-pattern>/DeleteCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJobsAdminServlet</display-name>
    <servlet-name>ViewJobsAdminServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.ViewJobsAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobsAdminServlet</servlet-name>
    <url-pattern>/ViewJobsAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobServlet</display-name>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.DeleteJonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCompanyJobsServlet</display-name>
    <servlet-name>ViewCompanyJobsServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.ViewCompanyJobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCompanyJobsServlet</servlet-name>
    <url-pattern>/ViewCompanyJobsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobServlet</display-name>
    <servlet-name>EditJobServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.EditJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobServlet</servlet-name>
    <url-pattern>/EditJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobServlet</display-name>
    <servlet-name>UpdateJobServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.UpdateJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobServlet</servlet-name>
    <url-pattern>/UpdateJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadResumeServlet</display-name>
    <servlet-name>UploadResumeServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.UploadResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadResumeServlet</servlet-name>
    <url-pattern>/UploadResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.org.cp.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewAllApplications</display-name>
    <servlet-name>AdminViewAllApplications</servlet-name>
    <servlet-class>com.org.cp.servlet.AdminViewAllApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewAllApplications</servlet-name>
    <url-pattern>/AdminViewAllApplications</url-pattern>
  </servlet-mapping>
</web-app>